/* Created by: Batuhan Durhan
* Created on: Mar 2022
* This CSS file defines the style for index.html ICS2O-Assignment-1-HTML-CSS
*/

body {
  background-color: green;
}

h1 {
  background-color: #f00;
  color: hsl(147, 50%, 47%);
  padding: 20px;
  text-align: center;
}
